@font-face {
  font-family: AvenirLTStd-Book;
  src: url(/assets/fonts/AvenirLTStd-Book);
}

@font-face {
  font-family: AvenirLTStd-Medium;
  src: url(/assets/fonts/AvenirLTStd-Medium.otf);
}

@font-face {
  font-family: AvenirLTStd-Roman;
  src: url(/assets/fonts/AvenirLTStd-Roman.otf);
}

body {
  position: relative;
  background-color: #40748e;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  padding: 0.5em 24px;
  background-color: #f1ef90;
}

h1 {
  color: black;
  font-family: AvenirLTStd-Medium;
  font-size: 1em;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

#page-wrap {
  width: 960px;
  /* margin: 2em auto 0 auto; */
  margin: 3.5em auto 0 auto;
  padding: 0.5em 0 0.5em 8px;
  background-color: #a8bf9c;
}

.contact-card {
  float: left;
  width: 168px;
  height: 210px;
  margin: 0 8px 0.5em 0;
  padding: 0.5em 8px;
  background-color: white;
}

h2 {
  margin-bottom: 0.25em;
  color: #f03105;
  font-family: AvenirLTStd-Book;
  font-size: 0.9375em;
}

.website {
  margin-bottom: 1em;
  font-family: AvenirLTStd-Book;
  font-size: 0.75em;
}

.website a {
  color: black;
  text-decoration: none;
}

.website a:hover {
  color: #f03105;
}

.contact-info-list {
  margin-top: 0.5em;
}

.contact-info-list li {
  margin-bottom: 0.5em;
}

.contact-info-list li a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

/* #6799B2
#5D8AA1
#457D96
#F9F88E
#F82A03 */

/* #40748E
#A8BF9C
#F1EF90
#F03105
#A54F45 */
