body {
  position: relative;
  background-color: #f9f88e;
}

header {
  margin: 1em 24px;
}

h1 {
  color: black;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#page-wrap {
  width: 960px;
  margin: 0 24px;
  padding: 0.5em 0 0.5em 8px;
  background-color: #457d96;
}

.contact-card {
  float: left;
  width: 216px;
  height: 252px;
  margin: 0 8px 0.5em 0;
  padding: 0.5em 8px;
  background-color: white;
}

h2 {
  margin-bottom: 0.125em;
  color: #f82a03;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  /* writing-mode: vertical-lr;
  text-orientation: upright; */
}

.website {
  margin-bottom: 1em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8125em;
  letter-spacing: 0.5px;
}

.website a {
  color: #5d8aa1;
  text-decoration: none;
}

.website a:hover {
  color: #6799b2;
}

.contact-info-list {
  margin-top: 0.5em;
}

.contact-info-list li {
  margin-bottom: 0.5em;
}

.contact-info-list li a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

/* #6799B2
#5D8AA1
#457D96
#F9F88E
#F82A03 */

/* #40748E
#A8BF9C
#F1EF90
#F03105
#A54F45 */
